html {
    background-color: #342333;
    font-family: sans-serif;
}


#page-title {
    background-color: #f9ddcd;
    padding: 5%;
}

#works {
    margin: 5rem;
    display: flex;
    justify-content: center;
}

#works a {
    color: #f9ddcd;
    text-decoration: none;
    border: #f9ddcd 2px solid;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 20px;
    text-align: center;
    font-size: medium;
}

#works a:hover {
    color: #342333;
    background-color: #f9ddcd;

}

footer {
    color: #342333;
    background-color: #f9ddcd;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer h1 {
    font-size: 1rem;
    text-align: center;
    padding: 20px;
}

@media (width < 900px) {

    #page-title {
        background-color: #f9ddcd;
        padding: 5%;
        text-align: center;
        font-size: small;
    }

    #works {
        margin: 3rem;
        display: grid;
        justify-content: center;
        text-align: center;

    }


    #works a {
        color: #f9ddcd;
        text-decoration: none;
        border: #f9ddcd 2px solid;
        padding: .5rem;
        margin: none;
        border-radius: 20px;
        font-size: .8rem;

    }

    #works a:hover {
        color: #342333;
        background-color: #f9ddcd;

    }

    footer {
        color: #342333;
        background-color: #f9ddcd;
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    footer h1 {
        font-size: .7rem;
        text-align: center;
        padding: 20px;
    }
}
