html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(data/background-blurry\ vision.jpg);
    background-size: cover;
}


#nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    mix-blend-mode: difference;
}

#nav li {
    line-height: 200%;
    margin: 5% 5% 5% 5%;
}

#nav a {
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 160%;
    padding: 1rem;
    border-radius: 20px;
}

#nav a:hover {
    color: #313131;
    background-color: white;
    padding: 1rem;
}

#description {
    text-align: center;
    align-items: center;
    height: 200px;
    color: white;
    font-size: 1.5rem;
}

#description li {
    font-weight: bold;
}

#description a {
    text-decoration: none;
    color: white;
    border: white 2px solid;
    padding: 1rem;
    border-radius: 20px;
}

#description a:hover {
    background-color: white;
    mix-blend-mode: difference;
    color: black;
    font-weight: bold;
}

@media (width < 400px) {
    #nav {
        text-align: center;
    }

    #nav li {
        font-size: .5rem;
        margin: .05%;
        margin-top: 20%;
    }

    #description h1 {
        font-size: 2rem;
        padding: 10px;
        margin-top: 50px;
    }

    #description p {
        text-align: center;
        font-size: 1rem;
        margin: 10% 0 10% 0;
    }

    #description li {
        font-size: 1rem;
    }

    #description {
        text-align: center;
        font-size: 20%;
        padding: 20px;
    }

    #description a {
        font-size: 1rem;
        text-align: center;
        margin: 50px 0 100px 0;
    }

    #description a:hover {
        background-color: white;
        mix-blend-mode: difference;
        color: black;
        font-weight: bold;
    }
}